@model InventorySystem.Models.Customar

@{
    ViewData["Title"] = "Edit";
}
<div class="text-end">
<h1>پیرودونکي </h1><h2>سمون</h2>
</div>
<hr />
<div class="container d-flex justify-content-center align-items-center">
    

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />        
        <div class="input-group p-3">
            <label  class="control-label"></label>
            <input asp-for="Name" class="form-control" placeholder="نوم "/>
            <span asp-validation-for="Name" class="text-danger m-4 ">   </span>
    
            <label class="control-label" disabled> </label>
            <input asp-for="CustomarImage" class="form-control" placeholder="پیرودونکي عکس">
            <span asp-validation-for="CustomarImage" class="text-danger"></span>
        </div>
        <div class="input-group p-3">
            <label class="control-label"></label>
            <input asp-for="MobileNo" class="form-control" placeholder="موبایل_نمبر" />
            <span asp-validation-for="MobileNo" class="text-danger m-4 "></span>

       
            <label class="control-label"></label>
            <input asp-for="Email" class="form-control" placeholder="ایمیل" />
            <span asp-validation-for="Email" class="text-danger "></span>
        </div>
        <div class="input-group p-3">
            <label  class="control-label"></label>
            <input asp-for="Address" class="form-control" placeholder="پته" />
            <span asp-validation-for="Address" class="text-danger m-4 "></span>
      
            <label  class="control-label"></label>
            <input asp-for="Status" class="form-control" placeholder="حالت" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div> 
            <br />
        <div class="form-group p-3   d-flex justify-content-between ">
                <input type="submit" value="تازه کول" class="btn btn-primary"  style="width:200px">

            <a asp-action="Index" class="btn btn-dark " style="width:200px">
                    بیرته لیست ته تلل
                </a>
            </div>
        </form>
    </div>



