@model Category
@{
    ViewData["Title"] = "Create";
}

<div class="container d-flex justify-content-center align-items-center">
<form method="post"class="align-items-center" >

    <div>
            <h2>کټګورۍ جوړه کړئ</h2>
    </div>
    <br />
    <div>
        <label asp-for="Name">نوم</label>
        <input asp-for="Name" class="form-control" style="width:300px" />

    </div>
    <div>
        <label asp-for="Status">حالت</label>
        <input asp-for="Status" class="form-control" style="width:300px" />

    </div>
    <br />
        <button type="submit" class="btn btn-outline-primary" @* onclick="displayAlert()" *@ style="width:150px">
            لیږل
        </button>
     
    <a asp-controller="Category" asp-action="Index" class="btn btn-light" style="width:150px">
            بیرته لیست ته تلل
    </a>
</form>
</div>



