@model Category
@{
    ViewData["Title"] = "Create";
}

<div class="container d-flex justify-content-center align-items-center">
<form method="post"class="align-items-center" >

    <div>
        <h2>Create Category</h2>
    </div>
    <br />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" style="width:300px" />

    </div>
    <div>
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" style="width:300px" />

    </div>
    <br />
        <button type="submit" class="btn btn-outline-primary" onclick="displayAlert()" style="width:150px">
        Submit</button>
        @section scripts {
            <script>
                function displayAlert() {

                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Your work has been saved",
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            </script>
        }
    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-light" style="width:150px">
        Back To List
    </a>
</form>
</div>



