@model Category
@{
    ViewData["Title"] = "Edit";
}

<div class="container d-flex justify-content-center align-items-center">
<form method="post" asp-action="Edit" >

    <div>
        <h2>Eddit Category</h2>
    </div>
    <br />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" style="width:300px" />

    </div>
    <div>
        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control" style="width:300px" />

    </div>
    <br />
        <button type="submit" class=" btn btn-info" style="width:150px">
        Update</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-dark" style="width:150px">
        Back To List
    </a>
</form>
</div>



